@import "tailwindcss";

:root {
  --color-primary: #ed1c24;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  position: relative;
  height: 100vh;
  background: url("/images/FOE-Bg.png") center/cover no-repeat;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
